body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.title-container {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

#map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#map {
  width: 960px;
  height: 600px;
  border: 1px solid #ccc;
}

#color-legend {
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

.color-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

#country-info {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}
