body {
  font-family: Arial, sans-serif;
}

.title-container {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

#map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#map {
  width: 960px;
  height: 600px;
  border: 1px solid #ccc;
}

#color-legend {
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.legend-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 4px;
}
